body{background-color: #1F2937;}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a:visited {
    color: #E5E7EB;
}
a:link {
    color: #E5E7EB;
}
a:hover {
    color: #b8b9bb;
}
a:active {
    color: #818181;
}

html {
    margin: 0;
    min-height: 100%;
}
body {
    font-family: Arial;
    background: #f1f1f1;
  }
.pageLayouts
{
    display: flex;
    flex-direction: column;
}
.Headercontainer {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    position: fixed;
    top: 0;
    left:0;
    z-index: 9;
  }
.leftContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 16em;
}
.logoContainer {
    margin: 0.7em 0 0.7em 2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 8.8em;
    text-decoration: none;
}
.logoImageContainer{
    display: flex;
    align-items: center;
    margin-right: 0.5em;
}
.logoImage{
    width: 2em;
}
.logoText{
    color: white;
    font-size: 14px;
    letter-spacing: 0.1em;
    margin: 0 0 0 0.5vw;
}
.headerTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    position: relative;
    color: #E5E7EB;
    size: 18px;
    width: 27em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 2.5vw;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}
.box1{
  width: 100%;
  border: black;
  border-width: 10px;
  height: 1000px;
  max-height: 100%;
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 8;
  left: 0;
  margin-top: 5px;
}
.RPSContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
}
.textContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 600px;
  background-color: #247881;
  border-radius: 20px;
  margin-bottom: -50px;
  width: 1000px;
  height: 90px;
  z-index: 4;
}
.playerScore{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
  color: white;
}
.computerScore{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
  color: white;
}
.boxContainer{
  display: flex;
  z-index: 5;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  background-color: #247881;
  border-radius: 20px;
  width: 1000px;
}
.box1right{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  flex: 0 1 90%;
  background-color: #43919B;
}
.imageHover {
  border-width: 0;
  background: none;
  border-radius: 300px;
}
.computerHover{
  background: none;
  border-radius: 300px;
  background:#1F2937;
  opacity: 0.8;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.imageHover:hover {
  background: none;
  border-radius: 300px;
  background:#1F2937;
  opacity: 0.8;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.imageHover:active {
  background:#1F2937;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.centerText{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
}
.playerText{
  background-color: #51b2db;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  gap: 10px;
  border-radius: inherit;
}
.winnerText{
  background-color: #51b2db;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  gap: 10px;
  border-radius: inherit;
}
.computerText{
  background-color: #51b2db;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  gap: 10px;
  border-radius: inherit;
}
.box1left{
  justify-content: center;
  width: 60%;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: white;
    font-size: 14px;
    letter-spacing: 0.1em;
    font-family: "roboto";
    /* Height of the footer*/ 
    height: 30px;
    background: #1F2937;
  }
  .center{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
  }
  .popup{
 
    width:auto;
    height:auto;
    justify-content: center;
    padding:30px 20px;
    background: #ddd;
    box-sizing:border-box;
    z-index:9;
    text-align:center;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity:0;
    transform:translate(-50%,-50%) scale(0.5);
    transition:opacity 300ms ease-in-out,top 1000ms ease-in-out, transform 1000ms ease-in-out;
   
  }
  .popup.active{
    opacity:1;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition:transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  }
  
  .popup .icon{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -15px;
    width:50px;
    height:50px;  
    text-align:center;
    border-radius:50%;
    line-height:55px;
  }
  .popup .title{
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
  }
  .popup .description{
    color:#222;
    font-size:15px;
    padding:5px;
  }
  .popup .dismiss-btn{
    margin-top:15px;
  }
  .dismiss-btn button ,.open-btn button{
    padding:10px 20px;
    background-color: #111;
    color:#f5f5f5;
    border: 2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    transition:all 300ms ease-in-out;
    cursor:pointer;
  }
  .dismiss-btn button:hover,.open-btn button:hover{
    color:#111;
    background:#f5f5f5;
  }
  
  .popup > div{
    position:relative;
    top:10px;
    opacity:0;
  }
  .popup.active > div{
    top:0px;
    opacity:1;
  }
  
  .popup.active .icon{
    transition: all 300ms ease-in-out 250ms;
    z-index: 10;
  }
  .popup.active .title{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup.active .description{
    transition: all 300ms ease-in-out 250ms;
  }
  .popup.active .dismiss-btn{
    transition: all 300ms ease-in-out 400ms;
  }

  .disabled{
    pointer-events: none;
  }
  .enable{
    pointer-events: all;
  }

  @media screen and (max-width: 912px)
  {
      body, html{
          width: 100vw;
          overflow-x: hidden;
          padding: 0.8em 0;
      }
      .Headercontainer
      {
        width: 100%;
        flex-direction: column;
      }
      .headerText{
        gap: 30px;
        width: 100%;
      }
      .RPSContainer{
        margin-top: 300px;
        width: 100%;
        height: 1000px;
        justify-content: stretch;
      }   
      .textContainer{
        width: 100%;
        gap: 50px
      }
      .boxContainer{
        width: 100%;
        margin-top: 20px;
      }
      .box1right{
        width: 100%;
        height: 100%;
        padding: none;
      }
      .imageHover{
        display:block;
        padding: 0;
        margin: 0;
        letter-spacing: 0;
        word-spacing: 0;
        align-items: inherit;
      }
      .box1left{
        width: 100%;
      }
      .popup{
        width: 100%;
      }
      .centerText{
        font-size:4vw
      }
    }
